<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
       <h2>Antel</h2>

       

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="fw-bold text-uppercase text-gray-700">
          Mapa Web
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Inicio
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
             Empresa
            </a>
          </li>
          <li class="mb-3">
            <a href="#!" class="text-reset">
              Internet Residencial
            </a>
          </li>
        
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
        <li class="mb-3">
          <a href="#!" class="text-reset">
            Internet Corporativo
          </a>
        </li>
        <li class="mb-3">
          <a href="#!" class="text-reset">
           Proyectos Ind. Électricos
          </a>
        </li>
        <li>
          <a href="#!" class="text-reset">
           Proyectos Ind. Telecomunicaciones
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-6 col-lg-2">
      <img src="{{webRoot}}/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">

    </div>
      <div class="col-6 col-md-6 col-lg-3">
          <li>
            Guayas: Samborondon Business Center, Office Center, Oficina 133
          </li>
          <li>
            Los Ríos: Mejía entre 10 de Agosto y 5 de Junio, Babahoyo
          </li>
    
        </p>
      </div>
  </div> <!-- / .container -->
</footer>
